<table mat-table [dataSource]="posts" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="sok_fiyat">
    <th mat-header-cell *matHeaderCellDef> sok_fiyat </th>
    <td mat-cell *matCellDef="let element"> {{element.sok_fiyat}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="urun_id">
    <th mat-header-cell *matHeaderCellDef> urun_id </th>
    <td mat-cell *matCellDef="let element" (click)="onDocumentClicked($event)"> {{element.urun_id}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="bim_fiyat">
    <th mat-header-cell *matHeaderCellDef> bim_fiyat </th>
    <td mat-cell *matCellDef="let element"> {{element.bim_fiyat}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="urun_ad">
    <th mat-header-cell *matHeaderCellDef> urun_ad </th>
    <td mat-cell *matCellDef="let element"> {{element.urun_ad}} </td>
  </ng-container>
  <!-- Symbol Column -->
  <ng-container matColumnDef="a101_fiyat">
    <th mat-header-cell *matHeaderCellDef> a101_fiyat </th>
    <td mat-cell *matCellDef="let element"> {{element.a101_fiyat}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>