<!-- <div class="container">
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Kategori Ad" value="" />
    </mat-form-field>
  </form>
</div>


<div class="container">
  <div class="list-container">
    <dx-list #list [dataSource]="products" [height]="45" [searchEnabled]="true" searchExpr="Name" searchMode="contains">
      <div *dxTemplate="let data of 'item'">
        <div>{{ data.Name }}</div>
      </div>
    </dx-list>
  </div>
  <button type="button" class="btn btn-primary btn-lg btn-block">Guncelle/Ekle</button>
</div> -->


<table mat-table [dataSource]="posts" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="kategori_ad">
    <th mat-header-cell *matHeaderCellDef> kategori_ad. </th>
    <td mat-cell *matCellDef="let element"> {{element.kategori_ad}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="kategori_id">
    <th mat-header-cell *matHeaderCellDef> kategori_id </th>
    <td mat-cell *matCellDef="let element"> {{element.kategori_id}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="ust_kategori_id">
    <th mat-header-cell *matHeaderCellDef> ust_kategori_id </th>
    <td mat-cell *matCellDef="let element"> {{element.ust_kategori_id}} </td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>