<form action="" #posts="ngForm" (ngSubmit)=postUrunUzun(posts.value)>

  <div class="row">
    <div class="col">
      <div class="input-group mb-3 ">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">a101_fiyat</span>
        </div>
        <input type="text" class="form-control" placeholder="a101_fiyat" aria-label="Username"
          aria-describedby="basic-addon1" [(ngModel)]="urunUzun.a101_fiyat " name="a101_fiyat">
      </div>
      <div class="input-group mb-3 ">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">sok_fiyat</span>
        </div>
        <input type="text" class="form-control" placeholder="sok fiyat" aria-label="Username"
          aria-describedby="basic-addon1" [(ngModel)]="urunUzun.sok_fiyat " name="sok_fiyat">
      </div>
      <div class="input-group mb-3 ">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">bim_fiyat</span>
        </div>
        <input type="text" class="form-control" placeholder="sok fiyat" aria-label="Username"
          aria-describedby="basic-addon1" [(ngModel)]="urunUzun.bim_fiyat " name="bim_fiyat">
      </div>
      <div class="input-group mb-3 ">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">boyut</span>
        </div>
        <input type="text" class="form-control" placeholder="boyut" aria-label="Username"
          aria-describedby="basic-addon1" [(ngModel)]="urunUzun.boyut " name="boyut">
      </div>
      <div class="input-group mb-3 ">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">gram</span>
        </div>
        <input type="text" class="form-control" placeholder="gram" aria-label="Username" aria-describedby="basic-addon1"
          [(ngModel)]="urunUzun.gram " name="gram">
      </div>
      <div class="input-group mb-3 ">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">hacim</span>
        </div>
        <input type="text" class="form-control" placeholder="hacim" aria-label="Username"
          aria-describedby="basic-addon1" [(ngModel)]="urunUzun.hacim " name="hacim">
      </div>
    </div>
    <div class="col">
      <!-- <div class="input-group mb-3 ">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">marka_id</span>
        </div>
        <input type="text" class="form-control" placeholder="marka_id" aria-label="Username"
          aria-describedby="basic-addon1" [(ngModel)]="urunUzun.marka_id" name="marka_id">
      </div> -->

      <mat-form-field class="example-full-width">
        <input type="text" placeholder="Marka Ad" value="{{urunUzun.marka_ad}}" matInput [formControl]="Marka"
          [matAutocomplete]="auto" name="marka_id">
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFFn">
          <mat-option *ngFor="let option of filtered | async" [value]="option">
            {{option.ad}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input type="text" placeholder="kad" value="{{urunUzun.kad}}" matInput [formControl]="kad"
          [matAutocomplete]="autoo" name="kad">
        <mat-autocomplete #autoo="matAutocomplete" [displayWith]="displayFn">
          <mat-option *ngFor="let filtered of filteredOptions | async" [value]="filtered">
            {{filtered.ad}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

    </div>
    <div class="col">

      <div class="input-group mb-3 ">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">mensei</span>
        </div>
        <input type="text" class="form-control" placeholder="mensei" aria-label="Username"
          aria-describedby="basic-addon1" [(ngModel)]="urunUzun.mensei " name="mensei">
      </div>

      <div class="input-group mb-3 ">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">resim_buyuk</span>
        </div>
        <input type="text" class="form-control" placeholder="resim_buyuk" aria-label="Username"
          aria-describedby="basic-addon1" [(ngModel)]="urunUzun.resim_buyuk " name="resim_buyuk">
      </div>

      <div class="input-group mb-3 ">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">resim_orta</span>
        </div>
        <input type="text" class="form-control" placeholder="resim_orta" aria-label="Username"
          aria-describedby="basic-addon1" [(ngModel)]="urunUzun.resim_orta " name="resim_orta">
      </div>

      <div class="input-group mb-3 ">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">resim_kucuk</span>
        </div>
        <input type="text" class="form-control" placeholder="resim_kucuk" aria-label="Username"
          aria-describedby="basic-addon1" [(ngModel)]="urunUzun.resim_kucuk " name="resim_kucuk">
      </div>

      <div class="input-group mb-3 ">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">urun_durum</span>
        </div>
        <input type="text" class="form-control" placeholder="urun_durum" aria-label="Username"
          aria-describedby="basic-addon1" [(ngModel)]="urunUzun.urun_durum " name="urun_durum">
      </div>
      <div class="input-group mb-3 ">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">urun_ad</span>
        </div>
        <input type="text" class="form-control" placeholder="urun_ad" aria-label="Username"
          aria-describedby="basic-addon1" [(ngModel)]="urunUzun.urun_ad " name="urun_ad">
      </div>

      <!-- <form class="example-form">
        <mat-form-field class="example-full-width">
          <input type="text" placeholder="Urun Id" aria-label="Assignee" matInput [formControl]="Urun_Id"
            [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
              {{option.ad}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </form> -->


    </div>
  </div>
  <div class="row">
    <button mat-stroked-button type="submit"> Post urun </button>
  </div>

</form>