.row {
    max-width: 100%;
}

.input-group {
    width: 300px;
}

.container {
    width: 95%;
    height: 100vh;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    margin-left: 25px;
    color: green;
}

.example-full-width {
    width: 100%;
}

mat-form-field {
    margin-left: 20px;
}

button {
    width: 75%;
    margin: 0 auto;
    background-color: rgb(109, 109, 197);
    letter-spacing: 10px;
}